# Ignore everything by default
*

# Track .gitignore itself
!.gitignore

# Track project config
!config.toml
!models.toml

# Track shared install manifest and lock

# Track shared repo state
!fs/
!fs/**
!work/
!work/**
!work-archive/
!work-archive/**
